<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <div id="timein-menu" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="/">TimeIn</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Students <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/students}">All Students</a>
                                </li>
                                <li><a th:href="@{/student/new}">New Student</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/sessions}">Sessions</a>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/instructors}">Instructors</a></li>
                                <li><a th:href="@{/instructor/new}">New Instructor</a></li>
                                <li><a th:href="@{/courses}">Courses</a></li>
                                <li><a th:href="@{/course/new}">New Course</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="reports/weekly-grades">Weekly Grades</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Time In</h2>

                    <h3>In/Out logging application</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>