<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(students)}">
        <h2>Student List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Instructor</th>
                <th>Login</th>
                <th>Logout</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"><a href="/student/${student.id}">Id</a></td>
                <td th:text="${student.firstName}">FirstName</td>
                <td th:text="${student.lastName}">LastName</td>
                <td th:text="${student.course.title}">Course</td>
                <td th:text="${student.instructor.fullName}">Instructor</td>
                <td><a th:href="${ '/student/' + student.id + '/login'}">Login</a></td>
                <td><a th:href="${ '/student/' + student.id + '/logout'}">Logout</a></td>
                <td><a th:href="${ '/student/' + student.id}">View</a></td>
                <td><a th:href="${ '/student/edit/' + student.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>